body {
    font-family:Helvetica;
    font-size:15px;
    color: #443369;
    font-weight: bold;
}


#divContenedor {
    position:absolute;
    height:450px;
    width:675px;
    top: 260px; 
    left: 20px;
    border: 2px solid;
    border-radius: 15px;
    margin:0 auto;
    background-color:white;
}



#divTitulo,#vertical-bar, #vertical-bar2,#vertical-bar3,  #lbl1, #txt1, #lbl2, #txt2, #lbl3, #lbl4, #lbl5, #lbl6, #lbl7,#lbl8,#lbl8,#lbl9,#lbl10,#lbl11,#lbl12,#lbl13,#lbl14,#lbl15,#lbl16,#lbl17,#lbl18,#lbl19,#lbl20,#lbl21,#lbl22,#lbl23,#lbl24,#lbl25,#lbl26,#lbl27,#lbl28,#lbl29,#lbl30,#lbl31,#lbl32,#lbl33,#lbl34,#lbl35,#lbl36,#lbl37,#lbl38,#lbl39,#lbl40,#lbl41,#lbl42,#lbl43,#lbl44,#lbl45,#lbl46,#lbl47,#lbl48,#lbl49,#lbl50,#lbl51,#lbl52,#lbl53,#lbl54,#lbl55,#lbl56,#lbl57,#lbl58,#lbl59,#lbl60,#lbl61,#lbl62,#lbl63,#lbl64,#lbl65,#lbl66,#lbl67,#lbl68,#lbl69,#lbl70,#lbl71,#lbl72,#lbl73,#lbl74,#lbl75,#lbl76,#lbl77,#lbl78,#lbl79,#lbl80,#lbl81,#lbl82,#lbl83,#lbl84,#lbl85,#lbl86,#lbl87,#lbl88,#lbl89,#lbl90,#lbl91,#lbl92,#lbl93,#lbl94,#lbl95,#lbl96,#lbl97,#lbl98,#lbl99,#lbl100,#lbl101,#lbl102,#lbl103,#lbl104,#lbl105, #tabla, #tabla2 {
     position:absolute;
}


#lbl1, #lbl2,#lbl3,#lbl4,#lbl5, #lbl6 {
    width:220px;
}

#txt1, #txt2 {
    width:200px;
}
#lbl1 {
    top:33px;
    left:30px;
}

#txt1 {
    top:80px;
    left:104px;
}

#lbl2 {
    top:5px;
    left:20px;
}


#lbl3 {
    top:5px;
    left:580px;
}


#lbl4 {
    top:30px;
    left:0px;
}


#lbl5 {
    top:30px;
    left:560px;
}

#lbl6 {
    top:-160px;
    left:460px;
    font-size:18px;
}

#tabla {
    border-radius: 15px;
    margin: 25px;
    padding: 0px;
    top:425px;
    left:460px;
}

#tabla2 {
    background: white;
    border-radius: 15px;
    margin: 25px;
    padding: 0px;
    top:-160px;
    font-size:20px;
    color: #FF0040;
    left:475px;
}

tr {
  border: #443369 2px solid;
}

td {
  border: #443369 2px solid;
}



#lbl7 {
    top:-80px;
    left:10px;
    font-size:16px;
}

#lbl8 {
    top:-80px;
    left:80px;
    font-size:16px;
}

#lbl9 {
    top:-50px;
    left:10px;
    font-size:16px;
}

#lbl10 {
    top:-50px;
    left:90px;
    font-size:16px;
}

#lbl11 {
    top:-20px;
    left:10px;
    font-size:16px;
}

#lbl12 {
    top:-20px;
    left:80px;
    font-size:16px;
}

#lbl13 {
    top:-20px;
    left:280px;
    font-size:16px;
}


#lbl14 {
    top:-20px;
    left:320px;
    font-size:16px;
}


#lbl15 {
    top:70px;
    left:40px;
}

#vertical-bar {
    border-left: 2px solid #443369;
    width:2px;
    height:355px;
    top:0px;
    left:540px;
}

#vertical-bar2 {
    border-left: 2px solid #443369;
    width:2px;
    height:70px;
    top:45px;
    left:80px;
}

#vertical-bar3 {
    border-left: 2px solid #443369;
    width:2px;
    height:240px;
    top:116px;
    left:320px;
}

#lbl16 {
    top:100px;
    left:0px;
}

#lbl17 {
    top:50px;
    left:80px;
}


#lbl18 {
    top:75px;
    left:80px;
}

#lbl19 {
    top:100px;
    left:80px;
}

#lbl20 {
    top:50px;
    left:90px;
}

#lbl21 {
    top:50px;
    left:390px;
}
#lbl22 {
    top:70px;
    left:90px;
}
#lbl23 {
    top:70px;
    left:390px;
}
#lbl24 {
    top:95px;
    left:90px;
}
#lbl25 {
    top:95px;
    left:260px;
}

#lbl26 {
    top:95px;
    left:390px;
}


#lbl27 {
    top:140px;
    left:0px;
}

#lbl28 {
    top:180px;
    left:0px;
}

#lbl29 {
    top:220px;
    left:0px;
}

#lbl30 {
    top:260px;
    left:0px;
}


#lbl31 {
    top:300px;
    left:0px;
}

#lbl32 {
    top:340px;
    left:0px;
}

#lbl33 {
    top:130px;
    left:20px;
}


#lbl34 {
    top:170px;
    left:20px;
}

#lbl35 {
    top:210px;
    left:20px;
}

#lbl36 {
    top:250px;
    left:20px;
}

#lbl37 {
    top:290px;
    left:20px;
}

#lbl38 {
    top:330px;
    left:20px;
}

#lbl39 {
    top:370px;
    left:20px;
}

#lbl40 {
    top:460px;
    left:0px;
}

#lbl41 {
    top:475px;
    left:0px;
}

#lbl42 {
    top:490px;
    left:0px;
}

#lbl43 {
    top:520px;
    left:0px;
}

#lbl44 {
    top:520px;
    left:160px;
}

#lbl45 {
    top:540px;
    left:420px;
}

#lbl46 {
    top:560px;
    left:490px;
}

