#tabla2 {
    background: white !important;
    border-radius: 15px !important;
    margin: 25px !important;
    padding: 0px !important;
    top:100px !important;
    font-size:20px !important;
    color: #FF0040 !important;
    left:490px;
}

body {
    font-family:Helvetica !important;
    font-size:15px !important;
    color: #443369 !important;
    font-weight: bold !important;
}

#table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


#table, #lbl6, #lbl7,#lbl8,#lbl8,#lbl9,#lbl10,#lbl11,#lbl12,#lbl13,#lbl14, #lbl15, #lbl16, #lbl17, #lbl18, #tabla, #tabla2 {
     position:absolute;
}


#lbl6 {
    width:220px;
}

#table {
    top:280px;
    left:30px;
    width: 700px;
}

#lbl15 {
    top:180px;
    left:100px;
    font-size:16px;
}

#lbl16 {
    top:210px;
    left:110px;
    font-size:16px;
}

#lbl17 {
    top:240px;
    left:110px;
    font-size:16px;
}

#lbl18 {
    top:240px;
    left:360px;
    font-size:16px;
}

#lbl6 {
    top:100px;
    left:480px;
    font-size:18px;
}

#tabla {
    border-radius: 15px;
    margin: 25px;
    padding: 0px;
    top:425px;
    left:460px;
}

tr {
  border: #443369 2px solid;
}

td {
  border: #443369 2px solid;
}



#lbl7 {
    top:180px;
    left:30px;
    font-size:16px;
}

#lbl8 {
    top:180px;
    left:100px;
    font-size:16px;
}

#lbl9 {
    top:210px;
    left:30px;
    font-size:16px;
}

#lbl10 {
    top:210px;
    left:110px;
    font-size:16px;
}

#lbl11 {
    top:240px;
    left:30px;
    font-size:16px;
}

#lbl12 {
    top:240px;
    left:110px;
    font-size:16px;
}

#lbl13 {
    top:240px;
    left:320px;
    font-size:16px;
}


#lbl14 {
    top:240px;
    left:360px;
    font-size:16px;
}