body {
    font-family:Helvetica;
    font-size:15px;
    color: #443369;
    font-weight: bold;
}




#divTitulo, #lbl1, #txt1, #lbl2, #txt2, #lbl3, #lbl4, #lbl5, #lbl6, #lbl7,#lbl8,#lbl8,#lbl9,#lbl10,#lbl11,#lbl12,#lbl13,#lbl14,#lbl15,#lbl16,#lbl17,#lbl18,#lbl19,#lbl20,#lbl21,#lbl22,#lbl23,#lbl24,#lbl25,#lbl26,#lbl27,#lbl28,#lbl29,#lbl30,#lbl31,#lbl32,#lbl33,#lbl34,#lbl35,#lbl36,#lbl37,#lbl37,#lbl38,#lbl39,#lbl40,#lbl41,#lbl42,#lbl43,#lbl44,#lbl45,#lbl46,#lbl47,#lbl48,#lbl49,#lbl50,#lbl51,#lbl52,#lbl53,#lbl54,#lbl55,#lbl56,#lbl57,#lbl58,#lbl59,#lbl60,#lbl61,#lbl62,#lbl63,#lbl64,#lbl65,#lbl66,#lbl67,#lbl68,#lbl69,#lbl70,#lbl71,#lbl72,#lbl73,#lbl74,#lbl75,#lbl76,#lbl77,#lbl78,#lbl79,#lbl80,#lbl81,#lbl82,#lbl83,#lbl84,#lbl85,#lbl86,#lbl87,#lbl88,#lbl89,#lbl90,#lbl91,#lbl92,#lbl93,#lbl94,#lbl95,#lbl96,#lbl97,#lbl98,#lbl99,#lbl100,#lbl101,#lbl102,#lbl103,#lbl104,#lbl105,#lbl106,#lbl107,#lbl108,#lbl109,#lbl110,#lbl111,#lbl112,#lbl113,#lbl114,#lbl115,#lbl116,#lbl117,#lbl118,#lbl119,#lbl120,#lbl121,#lbl122,#lbl123,#lbl124,#lbl125,#lbl126,#lbl127,#lbl128,#lbl129,#lbl130,#lbl131,#lbl132,#lbl133,#lbl134,#lbl135,#lbl136,#lbl137,#lbl138,#lbl139,#lbl140,#lbl141,#lbl142,#lbl143,#lbl144,#lbl145,#lbl146,#lbl147,#lbl148,#lbl149,#lbl150,#lbl151,#lbl152,#lbl153,#lbl154,#lbl155,#lbl156,#lbl157,#lbl158,#lbl159,#lbl160,#lbl161,#lbl162,#lbl163,#lbl164,#lbl165,#lbl166,#lbl167,#lbl168,#lbl169,#lbl170,#lbl171,#lbl172,#lbl173,#lbl174,#lbl175,#lbl176,#lbl177,#lbl178,#lbl179,#lbl180,#lbl181,#lbl182,#lbl183,#lbl184,#lbl185,#lbl186,#lbl187,#lbl188,#lbl189,#lbl190,#lbl191,#lbl192,#lbl193,#lbl194,#lbl195,#lbl196,#lbl197,#lbl198,#lbl199,#lbl200,#lbl201,#lbl202,#lbl203,#lbl204,#lbl205,#lbl206,#lbl207,#lbl208,#lbl209,#lbl210,#lbl211,#lbl212,#lbl213,#lbl214,#lbl215,#lbl216,#lbl217,#lbl218
  {
     position:absolute;
}




#lbl1 {
    top:170px;
    left:40px;
}



#lbl2 {
    top:170px;
    left:100px;
}


#lbl3 {
    top:170px;
    left:280px;
}


#lbl4 {
    top:170px;
    left:320px;
}


#lbl5 {
    top:170px;
    left:630px;
}

#lbl6 {
    top:30px;
    left:370px;
}

#lbl7 {
    top:170px;
    left:810px;
}

#lbl8 {
    top:200px;
    left:40px;
}

#lbl9 {
    top:200px;
    left:120px;
}


#lbl10 {
    top:200px;
    left:735px;
}

#lbl11 {
    top:200px;
    left:790px;
}

#lbl12 {
    top:230px;
    left:40px;
}

#lbl13 {
    top:230px;
    left:80px;
}

#lbl14 {
    top:230px;
    left:240px;
}

#lbl15 {
    top:230px;
    left:340px;
}

#lbl16 {
    top:230px;
    left:635px;
}

#lbl17 {
    top:230px;
    left:725px;
}

#lbl18 {
    top:260px;
    left:40px;
}

#lbl19 {
    top:260px;
    left:240px;
}

#lbl20 {
    top:320px;
    left:40px;
}

#lbl21 {
    top:320px;
    left:280px;
}

#lbl22 {
    top:350px;
    left:40px;
}

#lbl23 {
    top:350px;
    left:265px;
}

#lbl24 {
    top:400px;
    left:40px;
}

#lbl25 {
    top:400px;
    left:250px;
}

#lbl26 {
    top:400px;
    left:510px;
}

#lbl27 {
    top:400px;
    left:610px;
}

#lbl28 {
    top:430px;
    left:210px;
}


#lbl29 {
    top:430px;
    left:230px;
}

#lbl30 {
    top:460px;
    left:40px;
}

#lbl31 {
    top:460px;
    left:120px;
}

#lbl32 {
    top:460px;
    left:280px;
}

#lbl33 {
    top:460px;
    left:360px;
}

#lbl34 {
    top:460px;
    left:530px;
}

#lbl35 {
    top:460px;
    left:610px;
}

#lbl36 {
    top:460px;
    left:745px;
}

#lbl37 {
    top:460px;
    left:825px;
}

#lbl38 {
    top:490px;
    left:40px;
}

#lbl39 {
    top:490px;
    left:115px;
}

#lbl40 {
    top:490px;
    left:270px;
}


#lbl41 {
    top:490px;
    left:295px;
}

#lbl42 {
    top:490px;
    left:450px;
}

#lbl43 {
    top:490px;
    left:530px;
}

#lbl44 {
    top:490px;
    left:680px;
}

#lbl45 {
    top:490px;
    left:700px;
}

#lbl46 {
    top:520px;
    left:40px;
}

#lbl47 {
    top:520px;
    left:220px;
}

#lbl48 {
    top:580px;
    left:40px;
}

#lbl49 {
    top:580px;
    left:70px;
}

#lbl50 {
    top:610px;
    left:40px;
}

#lbl51 {
    top:610px;
    left:270px;
}

#lbl52 {
    top:610px;
    left:580px;
}

#lbl53 {
    top:610px;
    left:720px;
}

#lbl54 {
    top:640px;
    left:40px;
}

#lbl55 {
    top:640px;
    left:135px;
}

#lbl56 {
    top:640px;
    left:535px;
}

#lbl57 {
    top:640px;
    left:635px;
}

#lbl58 {
    top:670px;
    left:40px;
}

#lbl59 {
    top:670px;
    left:210px;
}

#lbl60 {
    top:710px;
    left:40px;
}

#lbl61 {
    top:710px;
    left:70px;
}

#lbl62 {
    top:750px;
    left:40px;
}

#lbl63 {
    top:750px;
    left:210px;
}

#lbl64 {
    top:750px;
    left:600px;
}

#lbl65 {
    top:750px;
    left:620px;
}

#lbl66 {
    top:780px;
    left:40px;
}

#lbl67 {
    top:780px;
    left:190px;
}

#lbl68 {
    top:780px;
    left:600px;
}

#lbl69 {
    top:780px;
    left:620px;
}

#lbl70 {
    top:810px;
    left:40px;
}

#lbl71 {
    top:810px;
    left:170px;
}

#lbl72 {
    top:810px;
    left:600px;
}

#lbl73 {
    top:810px;
    left:620px;
}

#lbl74 {
    top:840px;
    left:40px;
}

#lbl75 {
    top:840px;
    left:80px;
}

#lbl76 {
    top:870px;
    left:40px;
}

#lbl77 {
    top:870px;
    left:150px;
}

#lbl78 {
    top:870px;
    left:600px;
}

#lbl79 {
    top:870px;
    left:620px;
}

#lbl80 {
    top:900px;
    left:40px;
}

#lbl81 {
    top:900px;
    left:70px;
}

#lbl82 {
    top:900px;
    left:225px;
}

#lbl83 {
    top:900px;
    left:270px;
}

#lbl84 {
    top:900px;
    left:455px;
}

#lbl85 {
    top:900px;
    left:540px;
}

#lbl86 {
    top:900px;
    left:700px;
}

#lbl87 {
    top:900px;
    left:790px;
}


#lbl88 {
    top:930px;
    left:40px;
}

#lbl89 {
    top:930px;
    left:180px;
}

#lbl90 {
    top:980px;
    left:40px;
}

#lbl91 {
    top:980px;
    left:150px;
}

#lbl92 {
    top:1030px;
    left:40px;
}


#lbl93 {
    top:1030px;
    left:130px;
}