body {
    font-family:Helvetica;
    font-size:15px;
    color: #443369;
    font-weight: bold;
}





#divTitulo, #created_at, #firstname, #identification, #phone, #Lab, #Material, #Mark, #Filter, #Type, #observationRxF, #OdEsferaRxF, #OdCilindroRxF, #OdEjeRxF, #OdAvRxF, #OdAddRxF, #OiEsferaRxF, #OiCilindroRxF, #OiEjeRxF, #OiAvRxF, #OiAddRxF, #DpRxF, #UsoRxF, #lbl1, #txt1, #tabla, #lbl2, #txt2, #lbl3, #lbl4, #lbl5, #lbl6,#lbl7,#lbl8,#lbl9,#lbl10,#lbl11,#lbl12,#lbl13,#lbl14,#lbl15,#lbl16,#lbl17,#lbl18,#lbl19,#lbl20,#lbl21,#lbl22,#lbl23,#lbl24,#lbl25,#lbl26,#lbl27,#lbl28,#lbl29,#lbl30,#lbl31,#lbl32,#lbl33,#lbl34,#lbl35,#lbl36,#lbl37,#lbl37,#lbl38,#lbl39,#lbl40,#lbl41,#lbl42,#lbl43,#lbl44,#lbl45,#lbl46,#lbl47  {
     position:absolute;
}

#created_at {
    top:200px;
    left:100px;
}

#firstname {
    top:240px;
    left:120px;
}

#identification {
    top:280px;
    left:170px;
}

#phone {
    top:320px;
    left:130px;
}

#Lab {
    top:490px;
    left:160px;
}

#Type {
    top:490px;
    left:340px;
}

#Material {
    top:490px;
    left:600px;
}

#Mark {
    top:530px;
    left:120px;
}

#Filter {
    top:530px;
    left:430px;
}

#OdEsferaRxF {
    top:385px;
    left:175px;
}

#OdCilindroRxF {
    top:385px;
    left:290px;
}

#OdEjeRxF {
    top:385px;
    left:405px;
}

#OdAvRxF {
    top:385px;
    left:515px;
}

#OdAddRxF {
    top:385px;
    left:630px;
}

#OiEsferaRxF {
    top:410px;
    left:175px;
}

#OiCilindroRxF {
    top:410px;
    left:290px;
}

#OiEjeRxF {
    top:410px;
    left:405px;
}

#OiAvRxF {
    top:410px;
    left:515px;
}

#OiAddRxF {
    top:410px;
    left:630px;
}

#DpRxF {
    top:450px;
    left:70px;
}

#UsoRxF {
    top:450px;
    left:370px;
}

#OiAddRxF {
    top:410px;
    left:630px;
}

#lbl1 {
    top:200px;
    left:40px;
}



#lbl2 {
    top:200px;
    left:100px;
}


#lbl3 {
    top:240px;
    left:40px;
}


#lbl4 {
    top:240px;
    left:115px;
}


#lbl5 {
    font-size:10px;
    top:160px;
    left:110px;
}

#lbl6 {
    top:60px;
    left:390px;
}

#lbl7  {
    top:80px;
    left:410px;
}

#lbl8 {
    top:280px;
    left:40px;
}

#lbl9 {
    top:280px;
    left:170px;
}

#lbl10 {
    top:320px;
    left:40px;
}

#lbl11 {
    top:320px;
    left:130px;
}



#tabla {
    margin: 0px;
    padding: 0px;
    top:360px;
    left:40px;
}




td {
  border: #443369 0.5px solid;
}


#lbl12 {
    top:450px;
    left:40px;
}

#lbl13 {
    top:450px;
    left:70px;
}

#lbl14 {
    top:450px;
    left:330px;
}

#lbl15 {
    top:450px;
    left:370px;
}

#lbl16 {
    top:490px;
    left:300px;
}

#lbl17 {
    top:490px;
    left:340px;
}

#lbl18 {
    top:490px;
    left:510px;
}

#lbl19 {
    top:490px;
    left:600px;
}

#lbl20 {
    top:530px;
    left:40px;
}

#lbl21 {
    top:530px;
    left:120px;
}

#lbl22 {
    top:530px;
    left:360px;
}

#lbl23 {
    top:530px;
    left:430px;
}

#lbl24 {
    top:570px;
    left:40px;
}

#lbl25 {
    top:490px;
    left:40px;
}

#lbl26 {
    top:490px;
    left:160px;
}

#observationRxF {
    top:590px;
    left:40px;
    width: 740px;
    text-align: justify;
    text-justify: inter-word;
}