body {
    font-family:Helvetica;
    font-size:15px;
    color: #443369;
    font-weight: bold;
}





#divTitulo, #id, #NAMELAB, #NAMETYPE, #NAMEMATERIAL, #NAMEMARK, #NAMEFILTER, #NAMEPRODUCT, #created_at, #DpRxF, #alt, #observation, #OdEsferaRxF, #OdCilindroRxF, #OdEjeRxF, #OdAvRxF, #OdAddRxF, #OiEsferaRxF, #OiCilindroRxF, #OiEjeRxF, #OiAvRxF, #OiAddRxF, #lbl1, #txt1, #tabla, #lbl2, #txt2, #lbl3, #lbl4, #lbl5, #lbl6,#lbl7,#lbl8,#lbl9,#lbl10,#lbl11,#lbl12,#lbl13,#lbl14,#lbl15,#lbl16,#lbl17,#lbl18,#lbl19,#lbl20,#lbl21,#lbl22,#lbl23,#lbl24,#lbl25,#lbl26,#lbl27,#lbl28,#lbl29,#lbl30,#lbl31,#lbl32,#lbl33,#lbl34,#lbl35,#lbl36,#lbl37,#lbl37,#lbl38,#lbl39,#lbl40,#lbl41,#lbl42,#lbl43,#lbl44,#lbl45,#lbl46,#lbl47  {
     position:absolute;
}

#NAMELAB{
    top:320px;
    left:160px;
}

#NAMETYPE{
    top:320px;
    left:350px;
}

#NAMEMATERIAL{
    top:350px;
    left:100;
}

#NAMEMARK{
    top:350px;
    left:110px;
}

#NAMEFILTER{
    top:350px;
    left:420px;
}

#NAMEPRODUCT{
    top:290px;
    left:70px;
}

#DpRxF{
    top:290px;
    left:70px;
}


#id{
    top:170px;
    left:115px;
}

#created_at{
    top:170px;
    left:335px;
}

#OdEsferaRxF {
    top:225px;
    left:125px;
}

#OdCilindroRxF {
    top:225px;
    left:240px;
}

#OdEjeRxF {
    top:225px;
    left:355px;
}

#OdAvRxF {
    top:225px;
    left:465px;
}

#OdAddRxF {
    top:225px;
    left:470px;
}

#OiEsferaRxF {
    top:250px;
    left:125px;
}

#OiCilindroRxF {
    top:250px;
    left:240px;
}

#OiEjeRxF {
    top:250px;
    left:355px;
}

#OiAvRxF {
    top:250px;
    left:465px;
}

#OiAddRxF {
    top:250px;
    left:470px;
}

#alt{
    top:290px;
    left:370px;
}

#observation{
    top:380px;
    left:180px;
}

#tabla {
    margin: 0px;
    padding: 0px;
    top:200px;
    left:40px;
}

td {
  border: #443369 0.5px solid;
}

#lbl1 {
    top:170px;
    left:40px;
}



#lbl2 {
    top:170px;
    left:115px;
}


#lbl3 {
    top:170px;
    left:220px;
}


#lbl4 {
    top:170px;
    left:335px;
}


#lbl5 {
    font-size:18px;
    color: red;
    top:80px;
    left:580px;
}

#lbl6 {
    top:50px;
    left:50px;
}


#lbl7 {
    top:120px;
    left:300px;
}

#lbl8 {
    top:170px;
    left:480px;
}

#lbl9 {
    top:170px;
    left:540px;
}

#lbl10 {
    top:200px;
    left:40px;
}

#lbl11 {
    top:200px;
    left:150px;
}

#lbl12 {
    top:200px;
    left:400px;
}

#lbl13 {
    top:200px;
    left:420px;
}

#lbl14 {
    top:290px;
    left:40px;
}

#lbl15 {
    top:290px;
    left:80px;
}

#lbl16 {
    top:290px;
    left:40px;
}

#lbl17 {
    top:290px;
    left:60px;
}

#lbl18 {
    top:290px;
    left:330px;
}

#lbl19 {
    top:290px;
    left:370px;
}

#lbl20 {
    top:320px;
    left:40px;
}

#lbl21 {
    top:320px;
    left:160px;
}

#lbl22 {
    top:320px;
    left:300px;
}

#lbl23 {
    top:320px;
    left:350px;
}
#lbl24 {
    top:350px;
    left:30;
}
#lbl25 {
    top:350px;
    left:100;
}
#lbl26 {
    top:350px;
    left:40px;
}
#lbl27 {
    top:350px;
    left:110px;
}
#lbl28 {
    top:350px;
    left:350px;
}
#lbl29 {
    top:350px;
    left:420px;
}

#lbl30 {
    top:380px;
    left:40px;
}
#lbl31 {
    top:380px;
    left:180px;
}