body {
    font-family:Helvetica;
    font-size:15px;
    color: #443369;
    font-weight: bold;
}





#divTitulo, #created_at, #firstname, #prescription, #lbl1, #txt1, #lbl2, #txt2, #lbl3, #lbl4, #lbl5, #lbl6,#lbl7,#lbl8,#lbl9,#lbl10,#lbl11,#lbl12,#lbl13,#lbl14,#lbl15,#lbl16,#lbl17,#lbl18,#lbl19,#lbl20,#lbl21,#lbl22,#lbl23,#lbl24,#lbl25,#lbl26,#lbl27,#lbl28,#lbl29,#lbl30,#lbl31,#lbl32,#lbl33,#lbl34,#lbl35,#lbl36,#lbl37,#lbl37,#lbl38,#lbl39,#lbl40,#lbl41,#lbl42,#lbl43,#lbl44,#lbl45,#lbl46,#lbl47  {
     position:absolute;
}

#created_at {
    top:200px;
    left:100px;
}

#firstname {
    top:240px;
    left:120px;
}

#prescription {
    top:300px;
    left:40px;
    width: 720px;
    text-align: justify;
    text-justify: inter-word;
}

#lbl1 {
    top:200px;
    left:40px;
}



#lbl2 {
    top:200px;
    left:100px;
}


#lbl3 {
    top:240px;
    left:40px;
}


#lbl4 {
    top:240px;
    left:115px;
}


#lbl5 {
    top:500px;
    left:550px;
}

#lbl6 {
    top:60px;
    left:390px;
}

#lbl7  {
    top:80px;
    left:410px;
}

#lbl8 {
    top:520px;
    left:630px;
}



