body {
    font-family:Helvetica;
    font-size:15px;
    color: #443369;
    font-weight: bold;
}


#divContenedor {
    position:absolute;
    height:300px;
    width:570px;
    top: 160px; 
    left: 10px;
    border: 2px solid;
    border-radius: 15px;
    margin:0 auto;
    background-color:white;
}



#divTitulo, #created_at, #total, #payment, #owed, #lbl1, #txt1, #lbl2, #txt2, #lbl3, #lbl4, #lbl5, #lbl6, #lbl7, #lbl8, #lbl9, #lbl10, #products, #pendiente, #tabla, #tabla2, #fecha {
     position:absolute;
}

#created_at {
    top:33px;
    left:90px;
}

#total {
    top:223px;
    left:460px;
}

#payment {
    top:197px;
    left:460px;    
}

#products {
    top:170px;
    left:460px;
}

#pendiente {
    top:250px;
    left:460px;
}

#owed {
    top:217px;
    left:460px;
}


#lbl1, #lbl2,#lbl3,#lbl4, #lbl5, #lbl6, #lbl7, #lbl8, #lbl9, #lbl10, #fecha {
    width:200px;
}

#txt1, #txt2 {
    width:200px;
}
#lbl1 {
    top:33px;
    left:30px;
}

#fecha {
    top:30px;
    left:80px;
}

#txt1 {
    top:80px;
    left:104px;
}

#lbl2 {
    top:250px;
    left:60px;
}
#txt2 {
    top:60px;
    left:104px;
}

#lbl3 {
    top:200px;
    left:360px;
}


#lbl4 {
    top:200px;
    left:367px;    
}


#lbl5 {
    top:225px;
    left:303px;
}

#lbl6 {
    top:-60px;
    left:390px;
    font-size:20px;
}

#lbl7 {
    top:60px;
    left:30px;
}

#lbl8 {
    top:90px;
    left:30px;
}

#lbl9 {
    top:168px;
    left:270px;
}

#lbl10 {
    top:255px;
    left:280px;
}

#tabla {
    
    border-radius: 15px;
    margin: 25px;
    padding: 0px;
    top:140px;
    left:420px;
}

#tabla2 {
    background: white;
    border-radius: 15px;
    margin: 25px;
    padding: 0px;
    top:-65px;
    font-size:20px;
    color: #FF0040;
    left:355px;
}

tr {
  border: #443369 2px solid;
}

td {
  border: #443369 2px solid;
}


